Repository llm-agents-php/agents, changes with the labels that .github/labeler.yml gives for each.
All labels: type:documentation, type:maintenance

ci: auto apply labels to PRs
  .github/workflows/apply-labels.yml
Labels: type:maintenance

ci: shellcheck action
  .github/workflows/shellcheck.yml
Labels: type:maintenance

ci: add googleapis/release-please-action
  .github/workflows/create-release.yml
Labels: type:maintenance

docs: add logo to agents readme.md
  README.md
Labels: type:documentation

docs: update README.md
  README.md
Labels: type:documentation

Adds prompt generator context
  src/LLM/AgentPromptGeneratorInterface.php
  src/LLM/PromptContextInterface.php
Labels: none

fix
  src/LLM/AgentPromptGeneratorInterface.php
Labels: none

Improves generator method arguments
  src/LLM/AgentPromptGeneratorInterface.php
Labels: none

Fixes problem with Agent executor
  src/Agent/AgentExecutor.php
  src/LLM/Prompt/Context.php
Labels: none

Adds agent executor with interceptors
  src/Agent/AgentExecutor.php
  src/AgentExecutor/Exception/ExecutorException.php
  src/AgentExecutor/Exception/InvalidPromptException.php
  src/AgentExecutor/ExecutorInterceptorInterface.php
  src/AgentExecutor/ExecutorInterface.php
  src/AgentExecutor/ExecutorPipeline.php
  src/AgentExecutor/Interceptor/GeneratePromptInterceptor.php
  src/AgentExecutor/Interceptor/InjectModelInterceptor.php
  src/AgentExecutor/Interceptor/InjectOptionsInterceptor.php
  src/AgentExecutor/Interceptor/InjectResponseIntoPromptInterceptor.php
  src/AgentExecutor/Interceptor/InjectToolsInterceptor.php
Labels: none

Fixes error Argument #1 ($agent) must be of type string, object given
  src/AgentExecutor/Interceptor/GeneratePromptInterceptor.php
  src/AgentExecutor/Interceptor/InjectModelInterceptor.php
Labels: none

Uses ExecutionInput DTO for agent execution interceptors
  src/AgentExecutor/ExecutionInput.php
  src/AgentExecutor/ExecutorInterceptorInterface.php
  src/AgentExecutor/ExecutorPipeline.php
  src/AgentExecutor/Interceptor/GeneratePromptInterceptor.php
  src/AgentExecutor/Interceptor/InjectModelInterceptor.php
  src/AgentExecutor/Interceptor/InjectOptionsInterceptor.php
  src/AgentExecutor/Interceptor/InjectResponseIntoPromptInterceptor.php
  src/AgentExecutor/Interceptor/InjectToolsInterceptor.php
Labels: none

Adds handler for next interceptor invocation
  src/AgentExecutor/ExecutionInput.php
  src/AgentExecutor/ExecutorInterceptorInterface.php
  src/AgentExecutor/ExecutorPipeline.php
  src/AgentExecutor/Interceptor/GeneratePromptInterceptor.php
  src/AgentExecutor/Interceptor/InjectModelInterceptor.php
  src/AgentExecutor/Interceptor/InjectOptionsInterceptor.php
  src/AgentExecutor/Interceptor/InjectResponseIntoPromptInterceptor.php
  src/AgentExecutor/Interceptor/InjectToolsInterceptor.php
  src/AgentExecutor/InterceptorHandler.php
Labels: none

Adds information about interceptors
  README.md
Labels: type:documentation

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"type:bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"type:enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"type:documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*', './*.md']

"type:maintenance":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', '.github/workflows/*']

...
